@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;
    
    --card: 217 33% 17%;
    --card-foreground: 210 40% 98%;
    
    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;
    
    --primary: 188 86% 43%;
    --primary-foreground: 210 40% 98%;
    
    --secondary: 217 33% 17%;
    --secondary-foreground: 215 20% 77%;
    
    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 77%;
    
    --accent: 188 86% 43%;
    --accent-foreground: 210 40% 98%;
    
    --destructive: 0 84% 60%;
    --destructive-foreground: 210 40% 98%;
    
    --border: 217 19% 27%;
    --input: 217 19% 27%;
    --ring: 188 86% 43%;
    
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground antialiased;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
